@using CinemaProject.Data.Models;



<section class="col-md-4 mb-5 ">
    <picture type="button" data-bs-target="#movieSessionsModal@(movie.Id)" data-bs-toggle="modal"
            class="card text-white border-dark " style=" min-height: 500px !important;
                background: url(./assets/@(movie.PosterImage.URLPath.Replace("\\","/")));
                background-size: cover; 
                background-attachment: scroll; 
                background-repeat: no-repeat; ">
        <address class="h-auto card-body pt-5 m-0 position-relative  sessionAdress">
            <h2 class="card-title">@movie.Title</h2>
            <p class="card-text"> @movie.Description </p>
        </address>

       

            <!-- Modal -->
            <div class="modal fade text-black" id="movieSessionsModal@(movie.Id)" tabindex="-1"
                aria-labelledby="movieSessionsModalLabel@(movie.Id)" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title text-primary fs-5" id="movieSessionsModalLabel@(movie.Id)">
                                @(movie.Title) </h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @foreach (Session movieSession in movie.Sessions)
                            {
                                <div>
                                    <div>
                                        @DateTime.FromBinary(movieSession.SessionDate).ToLongDateString() <span>
                                            @movieSession.SessionTime</span>
                                    </div>
                                    <p>
                                        <span>Session price:</span> @(movieSession.SessionPrice),00 R$
                                    </p>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>



        

    </picture>

</section>


@code {
    [Parameter]
    public required Movie movie { get; set; }
}
