@using CinemaProject.Data.Models;

@using CinemaProject.Data.Models;
@using CinemaProject.Data.Services;
@using System.Text.Json;

@using CinemaProject.Components.MovieComponents;

@inject ILogger<ViewMoviesAsTable> Logger
@inject IMovieService MovieService
@inject IAttachmentService AttachmentService


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Poster</th>
            <th scope="col">UId</th>
            <th scope="col">Tittle</th>
            <th scope="col">Inputed Date</th>
            <th scope="col">
                <span class="px-2">Actions</span>

            </th>
        </tr>
    </thead>
    <tbody>
        @if (moviesList.Count > 0)
        {
            foreach (Movie movie in moviesList)
            {
                <tr>
                    <th scope="row">
                        <img width="248px" height="142px" alt="Poster image" src=".\assets\@( movie.PosterImage.URLPath)" />
                    </th>
                    <td> @movie.Id </td>
                    <td> @movie.Title </td>
                    <td> @DateTime.FromBinary( movie.InputedDate).ToUniversalTime() </td>
                    <td>
                        <div class="row">
                            <div class="col">
                            </div>
                        </div>
                    </td>
                </tr>
                @if (movie.Sessions.Count > 0)
                {
                    <tr>
                        <td colspan="12">
                            <div class="accordion mb-1" id="accordionMovieSessions@(movie.Id)">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="MovieSessionsHeading@(movie.Id)">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#movieSessions@(movie.Id)" aria-expanded="false"
                                            aria-controls="movieSessions@(movie.Id)">
                                            @(movie.Title) Movie sessions
                                        </button>
                                    </h2>
                                    <section id="movieSessions@(movie.Id)" class="accordion-collapse collapse"
                                        aria-labelledby="MovieSessionsHeading@(movie.Id)"
                                        data-bs-parent="#accordionMovieSessions@(movie.Id)">
                                        <table class="table table-bordered">
                                            <thead>
                                                <th scope="col">ID</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Actions</th>
                                            </thead>
                                            <tbody>
                                                @foreach (Session session in movie.Sessions)
                                                {
                                                    <tr>
                                                        <td>@session.Id</td>
                                                        <td>@DateOnly.FromDateTime(DateTime.FromBinary(session.SessionDate).ToLocalTime())
                                                        </td>
                                                        <td>@session.SessionTime</td>
                                                        <td>@session.SessionPrice R$</td>
                                                        <td class="btn-group w-100 justify-content-end">
                                                            <div class="btn-group" role="group">
                                                                <button class="btn btn-warning ">Modify</button>
                                                                <button class="btn btn-danger ">Delete</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </section>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        }
        else
        {
            <p>Loading...</p>
        }
    </tbody>
</table>


@code {
    [Parameter]
    public required List<Movie> moviesList { get; set; }

}
