@using CinemaProject.Data.Models;

@using CinemaProject.Data.Models;
@using CinemaProject.Data.Services;
@using System.Text.Json;

@using CinemaProject.Components.MovieComponents;

@inject ILogger<ViewMoviesAsTable> Logger
@inject IMovieService MovieService
@inject IAttachmentService AttachmentService

<table class="table table-striped">
    <thead>
        <th colspan="1" scope="col">Poster</th>
        <th scope="col">Tittle</th>
        <th scope="col">Inputed Date</th>
        <th scope="col" class="text-center">Actions</th>
    </thead>
    <tbody>
        @foreach (Movie movie in moviesList)
        {
            <tr>
                <td colspan=1> <img width="248px" height="142px" src=".\assets\@(movie.PosterImage.URLPath)"> </td>
                <td colspan=1>
                    <h2>@movie.Title</h2>
                </td>
                <td colspan=1>
                    <div> @DateTime.FromBinary( movie.InputedDate).ToUniversalTime() </div>
                </td>
                <td colspan=1>
                    <div class="row">
                        <div class="col mb-2 px-2">
                            <div class="btn-group" role="group">
                                <button class="btn btn-primary text-light fw-bold" data-bs-toggle="modal"
                                    data-bs-target="#CreateSessionModal@(movie.Id)">
                                    Create Session
                                </button>

                                <button class="btn btn-primary text-light fw-bold" data-bs-toggle="modal"
                                    data-bs-target="#ShowSessionsModal@(movie.Id)">
                                    View sessions
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="btn-group" role="group">
                                <button class="btn btn-warning text-light fw-bold" data-bs-toggle="modal"
                                    data-bs-target="#modifyMovieModal@(movie.Id)">
                                    Modify
                                </button>
                                <button class="btn btn-danger text-light fw-bold" data-bs-toggle="modal"
                                    data-bs-target="#DeleteMovieModal@(movie.Id)">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <div class="modal fade" id="ShowSessionsModal@(movie.Id)" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="ShowSessionsModalLabel@(movie.Id)" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title fs-5 text-primary" id="ShowSessionsModalLabel@(movie.Id)">
                                Viewing sesions for <span class="text-primary-emphasis">@movie.Title</span></h2>
                            <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="container-fluid">
                                <table class="table table-bordered">
                                        <thead>

                                            <th scope="col">Date</th>
                                            <th scope="col">Time</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Actions</th>
                                        </thead>
                                        <tbody>
                                            @foreach (Session session in movie.Sessions)
                                            {
                                                <tr>
                                                    <td>@DateOnly.FromDateTime(DateTime.FromBinary(session.SessionDate).ToLocalTime())
                                                    </td>
                                                    <td>@session.SessionTime</td>
                                                    <td>@session.SessionPrice R$</td>
                                                    <td class="btn-group w-100 justify-content-end">
                                                        <div class="btn-group btn-group-sm p-0 m-0" role="group">
                                                            <button class="btn btn-warning ">Modify</button>
                                                            <button class="btn btn-danger ">Delete</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </tbody>
</table>





@code {
    [Parameter]
    public required List<Movie> moviesList { get; set; }

}
